<%- include('layouts/sidebar')  %> 
<div class="container-fluid pt-4 px-4">
                <div class="bg-dark text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0 text-light">Anime</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start table-dark align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-light">
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Parameter</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Igdl</td>
                                    <td>Instagram Downloader</td>
                                    <td>Url</td>
                                    <td>Json</td>
                                    <td>Active</td>
                                    <td><a class="btn btn-sm btn-primary" href="/instagram/igdl?url=https://www.instagram.com/p/CsqkqEQh9lp/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==&apikey=<%= apikey %>">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>TiktokDL</td>
                                    <td>Tiktok Downloader</td>
                                    <td>Url</td>
                                    <td>Json</td>
                                    <td>Active</td>
                                    <td><a class="btn btn-sm btn-primary" href="/api/tiktokdl?url=https://www.tiktok.com/@sukmajla_/video/7238549662570106118?is_from_webapp=1&sender_device=pc&apikey=<%= apikey %>">Detail</a></td>
                                </tr>
                                
                                <tr>
                                    <td>TwitterDL</td>
                                    <td>Twitter Downloader</td>
                                    <td>Url</td>
                                    <td>Json</td>
                                    <td>Active</td>
                                    <td><a class="btn btn-sm btn-primary" href="/api/twitter?url=https://twitter.com/Usagi_RR_/status/1677461755923165184?s=20&apikey=<%= apikey %>">Detail</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
<%- include('layouts/footer')  %> 