<%- include('layouts/sidebar')  %> 
            <div class="container-fluid pt-4 px-4">
                <div class="bg-dark text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0 text-light">Generator</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start table-dark align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-light">
                                    <th scope="col">Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Parameter</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Open Ai</td>
                                    <td>Chat Gpt</td>
                                    <td>Text</td>
                                    <td>Json</td>
                                    <td>Active</td>
                                    <td><a class="btn btn-sm btn-primary" href="/api/openai?text=artinya-shield&apikey=<%= apikey %>">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>Igdl</td>
                                    <td>Instagram Downloader</td>
                                    <td>Url</td>
                                    <td>Json</td>
                                    <td>Active</td>
                                    <td><a class="btn btn-sm btn-primary" href="/instagram/igdl?url=https://www.instagram.com/p/CsqkqEQh9lp/?utm_source=ig_web_copy_link&igshid=MzRlODBiNWFlZA==&apikey=<%= apikey %>">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>Igstalk</td>
                                    <td>Check Identity User Instagram</td>
                                    <td>User</td>
                                    <td>Json</td>
                                    <td>Active</td>
                                    <td><a class="btn btn-sm btn-primary" href="/instagram/Igstalk?user=azulacann&apikey=<%= apikey %>">Detail</a></td>
                                </tr>
                                <tr>
                                    <td>IG Stories</td>
                                    <td>Check Ig Stories</td>
                                    <td>User</td>
                                    <td>Json</td>
                                    <td>Active</td>
                                    <td><a class="btn btn-sm btn-primary" href="/instagram/stories?user=azulacann&apikey=<%= apikey %>">Detail</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
<%- include('layouts/footer')  %> 