<%- include('layouts/sidebar', { navigationLinks, active }) %>
<div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-user fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-light">Users</p>
                                <h6 class="mb-0 text-light" id="user-count"></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-lock fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-light">Api Key</p>
                                <h6 class="mb-0 text-light"><%= apikey %></h6>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-clock fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-light">Request/Day</p>
                                <h6 class="mb-0 text-light"><%= reqday %></h6>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-light">Request Total</p>
                                <h6 class="mb-0 text-light" ><%= count %></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-dark rounded h-100 p-4">
                            <h6 class="mb-4 text-light">
                                <i class='bx bx-news text-primary me-2'></i>Syarat dan ketentuan:
                            </h6>
                            <ul class="list-unstyled mb-0 text-light">
                                <li>
                                    <ul>
                                        <li>Jangan flooding requests, Admin web dapat langsung mengganti peraturan web jika terjadi error.</li>
                                        <li>Dilarang keras untuk menyebarkan apikey Anda, jika ketahuan. InsyaAllah akan di hapus :)</li>
                                        <li>Admin tidak bertanggung jawab atas apa yang Anda lakukan dalam penggunaan website ini.</li>
                                        <li>Fitur Error?, ya ndak tau tanya kok sama saya...</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-dark rounded h-100 p-4">
                            <h6 class="mb-4 text-light">
                                <i class='bx bx-news text-primary me-2'></i>Thanks To
                            </h6>
                            <ul class="list-unstyled mb-0 text-light">
                                <li>
                                    <ul>
                                        <li>My Parents</li>
                                        <li>My Friends</li>
                                        <li>Skizo</li>
                                        <li>CAFF</li>
                                        <li>And all of you who have used the web wisely and always supported me.</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
<%- include('layouts/footer')  %> 
            